@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');

.gold {
    background-color: gold;
}

.teal {
    background-color: teal;
}

.tomato {
  background-color: tomato;
}

.img-thumbnail {
  margin: .5rem 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 30%;
}

.delos {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  letter-spacing: .2rem;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills p {
  padding: 0 .5rem;
  font-size: .8rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

.main-footer {
  padding-top: 50%;
  padding-bottom: 2rem;
  font-size: .6rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}