@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');

.gold {
  background-color: gold;
}

.teal {
  background-color: teal;
}

.tomato {
  background-color: tomato;
}

.img-thumbnail {
  margin: 0.5rem 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 25%;
}

.delos {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills p {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1rem;
}

.social-icon {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.social-icon i {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: black;
}

.social-icon a {
  color: white;
  text-decoration: none;
}
.social-icon a:hover {
  color: black;
  background: white;
  transition: 0.25s ease;
}

.social-icon i:hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.25s ease;
}

.about-wrapper {
  margin-bottom: 40%;
}

.about-wrapper a {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: .7rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.about-wrapper a:hover {
  background-color: black;
  color: white !important;
  transition: 0.25s ease-in-out;
}

.mymodal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 0;
  overflow: auto;
  background: white;
}

.modal-content {
  margin: 20% 10%;
  padding: 1rem;
  border: none;
  -webkit-animation-name: from-top;
  -webkit-animation-duration: 0.4s;
  animation-name: from-top;
  animation-duration: 0.4s;
}

/* Animation */
@-webkit-keyframes from-top {
  from {top:-400px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes from-top {
  from {top:-400px; opacity:0}
  to {top:0; opacity:1}
}

.modal-content i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 25px;
}

.modal-content i:hover {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.lets-talk a {
  background-color: black;
  color: white;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}

.lets-talk a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.25s ease-in-out;
}

/* hover effect thumbnail images*/
.thumbnail-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}

.thumbnail-wrapper a {
  color: white;
}

.image {
  opacity: 0.3;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.link {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.link-icon {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.link-icon .fa-link {
  font-size: 18px;
}

.link-icon .fa-github {
  font-size: 24px;
}

.link-icon i {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

.link-icon i:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.25s ease-in-out;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  top: 30%;
  color: white;
  letter-spacing: .1rem;
  pointer-events: none;
}

.title-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-content p {
  margin-bottom: 10px;
}

.title-tagline {
  font-size: .5rem;
  font-weight: lighter;

}

.thumbnail-wrapper:hover .image {
  opacity: 1;
}

.thumbnail-wrapper:hover .title {
  opacity: 0;
  transition: .50s ease-in-out;
}

.thumbnail-wrapper:hover .link {
  opacity: 1;
  transition: 0.5s ease;
}
