@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
/*font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;*/

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

p, li {
    font-family: 'Roboto Slab', serif;
    color: black;
}

body {
    background: url(images/abstract-mosaic-background.png) no-repeat center center;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    background-color: #D6B486;
    text-align: center;
    padding: 15px 30px;
}

.main-content {
    background-color: lavender;
    text-align: center;
    border-top: 2px;
}

header img {
    width: 50%;
    border-radius: 15px;
}

.main-content ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background: darkslategrey;
}

.main-content ul li {
   padding: 10px;
   display: inline;
}

a {
    color: black;
    text-decoration: none;
    font-family: 
}

.main-content p {
    margin: 10px 40px;
}

.main-content h2 {
    text-align: center;
}

#projects {
    background: ivory;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    width: 30%;
    display: inline-block;
    background: moccasin;
    margin: 1.66%;
    border-radius: 15px;
    float: left;
}

.project img {
    max-width: 100%;
}