@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');

.gold {
    background-color: gold;
}

.teal {
    background-color: teal;
}

.tomato {
  background-color: tomato;
}

.img-thumbnail {
  margin: .5rem 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 30%;
}

.delos {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  letter-spacing: .2rem;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills p {
  padding: 0 .5rem;
  font-size: .8rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

.main-footer {
  padding-top: 50%;
  padding-bottom: 2rem;
  font-size: .6rem;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .1rem;
}

/* hover effect thumbnail*/
.thumbnail-wrapper {
  position: relative;
  background-color: rgba(0,0,0,1)
}

.thumbnail-wrapper a {
  color: white;
}

.image {
  opacity: 0.3;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.link {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.link-icon {
  color: white;
  display: flex;
  justify-content: space-around;
}

.fa-link {
  background: rgba(0,0,0,.5);
  font-size: 20px;
  padding: 10px 11.1px;
  border-radius: 50%;
}

.fa-link:hover {
  background: rgba(0,0,0,.8);
}

.fa-github {
  background: rgba(0,0,0,.5);
  font-size: 25px;
  padding: 8px 10.2px;
  border-radius: 50%;
}

.fa-github:hover {
  background: rgba(0,0,0,.8);
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 30%;
  color: white;
}

.thumbnail-wrapper:hover {
  opacity: 1;
}

.thumbnail-wrapper:hover .image {
  opacity: 1;
}

.thumbnail-wrapper:hover .title {
  opacity: 0;
  transition: .5s ease;
}

.thumbnail-wrapper:hover .link {
  opacity: 1;
  transition: .5s ease;
}